<p>This is an example template located in <code>views/example.erb</code> - check the source out!</p>

<h2>Loops, conditionals and partials</h2>

<ul>
  <% ["just", "some", "words"].each do |word| %>
    <li><%= word %></li>
  <% end %>
</ul>

<ol>
  <% 5.times do |counter| %>
    <li>say <%= counter + 1 %>!</li>
  <% end %>
</ol>

<% name = "Muneca" %>

<p>
  <% if name == "Muneca" %>
    <%= "Hi, #{name}!" %>
  <% else %>
    Oi!
  <% end %>
</p>

<%= erb :example_partial %>

<h2>Lorem ipsum</h2>

<h3>Images from lorempixel</h3>
<%= lorem_picture %>
<%= lorem_picture :grey => true %>
<%= lorem_picture :width => 600, :height => 400, :category => :city %>


<p>A lone sentence: <%= lorem %></p>

<p>Two words: <%= lorem :words, 2 %>.</p>

<p>Two sentences: <%= lorem :sentences, 2 %></p>

<h3>Two paragraphs:</h3>
<%= lorem :paragraphs, 2 %>

<h3>Two paragraphs, each five sentences long:</h3>
<%= lorem :paragraphs, 2, :sentences => 5 %>

<h3>List elements with random length</h3>

<ul>
  <% 5.times do %>
    <li><%= lorem :sentences, rand(7)+1 %></li>
  <% end %>
</ul>
